---
version: '3'

services:

  postgres:
    image: postgres:9.6
    environment:
      POSTGRES_USER: 'atmo_app'
      POSTGRES_PASSWORD: 'atmosphere'
      POSTGRES_DB: 'atmo_prod'
    volumes:
      - './postgres:/docker-entrypoint-initdb.d'

  atmosphere:
    build:
      context: './atmosphere'
      args:
        ATMO_REPO: 'cyverse'
        ATMO_BRANCH: 'master'
        ANSIBLE_REPO: 'cyverse'
        ANSIBLE_BRANCH: 'master'
        CLANK_REPO: 'cyverse'
        CLANK_BRANCH: 'master'
    volumes:
      - './inis:/opt/inis:ro'
      - 'sockets:/tmp:rw'
      - 'guacamole-keys:/etc/guacamole/keys:rw'
      - './logs/celery/atmo:/var/log/celery:rw'
      - './logs/atmosphere:/opt/dev/atmosphere/logs:rw'
      - './atmo-local/clank_init:/opt/dev/clank_workspace/clank_init:ro'
    env_file: 'options.env'
    depends_on:
      - 'postgres'

  troposphere:
    build:
      context: './troposphere'
      args:
        TROPO_REPO: 'cyverse'
        TROPO_BRANCH: 'master'
        CLANK_REPO: 'cyverse'
        CLANK_BRANCH: 'master'
    volumes:
      - './inis:/opt/inis:ro'
      - 'sockets:/tmp:rw'
      - './logs/troposphere:/opt/dev/troposphere/logs:rw'
      - './atmo-local/clank_init:/opt/dev/clank_workspace/clank_init:ro'
    env_file: 'options.env'
    depends_on:
      - 'atmosphere'
    ports:
      - '443:443'
      - '80:80'

  guacamole:
    image: 'guacamole/guacamole:0.9.14'
    environment:
      GUACAMOLE_HOME: '/guac_stuff'
      GUACD_HOSTNAME: 'guacd'
    volumes:
      - './guacamole:/guac_stuff:rw'
      - 'guacamole-keys:/guac_stuff/keys:rw'
    ports:
      - '8080:8080'

  guacd:
    image: 'guacamole/guacd:0.9.14'

volumes:
  sockets:
  guacamole-keys:
